.hud-action {
    height: var(--unit-size);
    width: var(--unit-size);
    background-repeat: no-repeat;
    background-position: center center;
}

.hud-intelligence-enemy-city {
    border: 2px solid #aa393e;
    background-color: rgba(170, 57, 62, 0.5);
}

.hud-intelligence-enemy-unit {
    border: 2px solid #e47618;
    background-color: rgba(228, 118, 24, 0.5);
}

.hud-intelligence-route {
    border: 2px solid #7b18e4;
    background-color: rgba(123, 24, 228, 0.5);
}


.hud-intelligence-friendly-city {
    border: 2px solid #56AF69;
    background-color: rgba(86, 175, 105, 0.5);
}

.hud-intelligence-friendly-unit {
    border: 2px solid #5687af;
    background-color: rgba(86, 135, 175, 0.5);
}

.hud-intelligence-same-island {
    border: 2px solid #ffde07;
    background-color: rgba(255, 222, 7, 0.5);
}

.hud-intelligence-to-discover {
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}

.hud-action.with-unit {
    margin-top: calc(0px - var(--unit-size));
    position: relative;
    z-index: 999;
}

.hud-action:hover {
    box-shadow: 0px 0px 5px 5px #ffc107;
}

.hud-action.hud-move-top-left {
    background-image: url("/content/hud/arrow-up-left.png");
}

.hud-action.hud-move-top {
    background-image: url("/content/hud/arrow-up.png");
}

.hud-action.hud-move-top-right {
    background-image: url("/content/hud/arrow-up-right.png");
}

.hud-action.hud-move-left {
    background-image: url("/content/hud/arrow-left.png");
}

.hud-action.hud-move-right {
    background-image: url("/content/hud/arrow-right.png");
}

.hud-action.hud-move-down-left {
    background-image: url("/content/hud/arrow-down-left.png");
}

.hud-action.hud-move-down {
    background-image: url("/content/hud/arrow-down.png");
}

.hud-action.hud-move-down-right {
    background-image: url("/content/hud/arrow-down-right.png");
}
