@import url('https://fonts.cdnfonts.com/css/tabletron');

:root {
    --logo-height: 30px;
    --logo-margin-top: 0px;
    --logo-left-margin-at-login: 0px;
    --header-height: calc(100% - 116px);
    --header-font-size: inherit;

    --tile-size: 32px;
    --legend-size: 32px;
    ----unit-size: 32px;
    --scroll-color: #de8928;

    --top-bar-height: 50px;
    --title-banner-color: #9CA463;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app {
    width: 100%;
    height: 100%;
}



.legend-junction {
    width: var(--legend-size);
    height: var(--legend-size);
    background-color: white;
    border: 1px solid lightgray;
}

.legend-top th, .legend-left th {
    height: var(--tile-size);
    width: var(--tile-size);
    background-color: white;
    color: black;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
}

.legend-top th {
    height: var(--legend-size);
    width: var(--tile-size);
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.legend-left th {
    height: var(--tile-size);
    width: var(--legend-size);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.map-view-port {
    overflow: hidden;
}

.map-view-port > .map-view-port-top, .map-view-port > .map-view-port-main,.map-view-port > .map-view-port-bottom {
    display: flex;
    flex-direction: row;
}

.map-view-port > .map-view-port-bottom {
    z-index:3
}

.map-view-port > .map-view-port-top > .map-view-port-legend {
    z-index: 10;
    position: fixed;
    display: inline-block;
}

.map-view-port > .map-view-port-top > .map-view-port-horizontal-legend {
    left: var(--legend-size);
    width: inherit;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.map-view-port > .map-view-port-bottom > .map-view-port-legend {
    z-index: 10;
    position: fixed;
    display: inline-block;
}


.map-view-port > .map-view-port-bottom > .map-view-port-horizontal-legend {
    width: inherit;
    z-index: 2;
    position: fixed;
    display: inline-block;
    bottom: calc(0 - var(--legend-size));
    left: var(--legend-size);
}


.map-view-port > .map-view-port-main > .map-view-port-vertical-legend {
    width: inherit;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.map-view-port > .map-view-port-main > .map-view-port-canvas {
    width: inherit;
    height: inherit;
    z-index: 1;
    position: relative;
}

.map-view-port-horizontal-legend, .map-view-port-vertical-legend {
    /*margin-left: var(--legend-size);*/
    background-color: lightgray;
}
.scroll-horizontal {
    background-color: darkgrey;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.scroll-horizontal > .scroll-horizontal-wagon {
    height: var(--legend-size);
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: ew-resize;
}

.scroll-horizontal > .scroll-horizontal-wagon .scroll-left {
    width: 0;
    height: 0;
    border-top: calc(var(--legend-size) /2) solid transparent;
    border-bottom: calc(var(--legend-size) /2) solid transparent;

    border-right: calc(var(--legend-size) /2) solid var(--scroll-color);
}

.scroll-horizontal > .scroll-horizontal-wagon .scroll-right {
    width: 0;
    height: 0;
    border-top: calc(var(--legend-size) /2) solid transparent;
    border-bottom: calc(var(--legend-size) /2) solid transparent;

    border-left: calc(var(--legend-size) /2) solid var(--scroll-color);
}


.scroll-horizontal > .scroll-horizontal-wagon.scroll-horizontal-wagon-overun {
    justify-content: end;
}

.scroll-vertical {
    background-color: darkgrey;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll-vertical > .scroll-vertical-wagon {
    width: var(--legend-size);
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    cursor: ns-resize;
    flex-direction: column;
}

.scroll-vertical > .scroll-vertical-wagon .scroll-up {
    width: 0;
    height: 0;
    border-left: calc(var(--legend-size) /2) solid transparent;
    border-right: calc(var(--legend-size) /2) solid transparent;

    border-bottom: calc(var(--legend-size) /2) solid var(--scroll-color);
}

.scroll-vertical > .scroll-vertical-wagon .scroll-down {
    width: 0;
    height: 0;
    border-left: calc(var(--legend-size) /2) solid transparent;
    border-right: calc(var(--legend-size) /2) solid transparent;

    border-top: calc(var(--legend-size) /2) solid var(--scroll-color);
    margin-top: calc(0 - var(--legend-size));
}


.scroll-vertical > .scroll-vertical-wagon.scroll-vertical-wagon-overun {
    justify-content: end;
}
.top-bar {
    /*width: 100%;*/
    height: var(--top-bar-height);
    background-color: black;
    color: white;
    /*dislay: block;*/
    /*padding-left: var(--legend-size);*/
    /*padding-left: 0;*/
}


.top-bar .profile-picture {
    height: calc(var(--top-bar-height) - var(--legend-size));
    margin-right: 10px;
}

.navbar.top-bar > .container {
    align-content: start;
    padding-left: 0;
}

.demo-blanket {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    top: var(--top-bar-height);
    left: 0;
    background-color: rgba(128, 128, 128, 0.5);

}

.title-center {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: var(--top-bar-height);
    left: 0;
    display: table;
}

.title-center .content {
    font-family: 'Tabletron', sans-serif;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.title-center .content .plaque h1 {
    font-size: 128px;
    background-color: var(--title-banner-color);
    margin-bottom: 0px;
}

.title-center .content .plaque p {
    margin-top: 0px;
    font-size: 28px;
    background-color: var(--title-banner-color);
}

.title-center .content .plaque p a {
    color: red;
}

@media screen and (max-width: 800px) {
    .title-center .content .plaque h1 {
        font-size: 96px;
    }

    .title-center .content .plaque p {
        margin-top: 0px;
        font-size: 20px;
    }
}


@media screen and (max-width: 640px) {

    .title-center .content .plaque h1 {
        font-size: 64px;
    }

    .title-center .content .plaque p {
        margin-top: 0px;
        font-size: 16px;
    }
}

.demo-footer {
    color: white;
    width: 100%;
}

.demo-footer a {
    margin-left: 10px;
}

.game-footer {
    color: white;
    width: 100%;
}

.bottom-bar {
    height: var(--top-bar-height);
}

.bottom-bar u {
    color: white;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.bottom-bar .btn-outline-secondary, .unit-dialog .btn-outline-secondary, .special-action-unit-tooltip .btn-outline-secondary {
    color: white;
}

.bottom-bar .bottom-bar-space, .unit-dialog .dialog-space {
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-bar .btn {
    width: var(--top-bar-height);
    height: var(--top-bar-height);
}

.nested-unit-tooltip .tooltip-inner {
    max-width: 100%;
}

.nested-unit-slots {
    display: inline-block;
    border: 1px dashed rgba(211, 211, 211, 0.8);
    border-radius: 5px;
    /*width: var(--top-bar-height);*/
    height: var(--top-bar-height);
    margin-left: 5px;
}

.nested-unit-slot {
    display: inline-block;
    height: var(--unit-size);
    width: var(--unit-size);
    border: 1px dashed rgba(211, 211, 211, 0.8);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    margin: 2px;
    /*margin: calc((var(--top-bar-height) - var(--unit-size)) / 2);*/
}

.nested-unit-slot:hover {
    box-shadow: 0px 0px 5px 5px lightblue;
}

.bottom-bar .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


.top-bar-game-control {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7b18e4;
    border-radius: 5px;
}

.top-bar-game-control .turn-info {
    color: white;
    margin-right: 10px;
}

.top-bar-game-control .toggle-auto-next {
    color:white;
}

ul.production-list {
    max-height: 300px;
    overflow-y: scroll;
}

ul.production-list li * {
    margin-top: auto;
    margin-bottom: auto;
}