:root {
    --logo-height: 30px;
    --logo-margin-top: 0px;
    --logo-left-margin-at-login: 0px;
    --header-height: calc(100% - 116px);
    --header-font-size: inherit;

    --tile-size: 32px;
    --legend-size: 32px;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app {
    width: 100%;
    height: 100%;
    color: red;
}

.land-tile {
    height: var(--tile-size);
    width: var(--tile-size);
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.land-tile.land-tile-type-M {
    background-color: gray;
    /*background-image: url("/content/map/mountain1_1.png");*/
}

.land-tile.land-tile-type-S {
    background-color: blue;
    /*background-image: url("/content/map/water.png");*/
}

.land-tile.land-tile-type-L {
    background-color: green;
    /*background-image: url("/content/map/grass1.png");*/
}


.legend-junction {
    width: var(--legend-size);
    height: var(--legend-size);
    background-color: white;
    border: 1px solid lightgray;
}

.legend-top th, .legend-left th {
    height: var(--tile-size);
    width: var(--tile-size);
    background-color: white;
    color: black;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
}

.legend-top th {
    height: var(--legend-size);
    width: var(--tile-size);
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.legend-left th {
    height: var(--tile-size);
    width: var(--legend-size);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.map-view-port {
    overflow: hidden;
}

.map-view-port > .map-view-port-top, .map-view-port > .map-view-port-main,.map-view-port > .map-view-port-bottom {
    display: flex;
    flex-direction: row;
}

.map-view-port > .map-view-port-bottom {
    z-index:3
}

.map-view-port > .map-view-port-top > .map-view-port-legend {
    z-index: 10;
    position: fixed;
    display: inline-block;
}

.map-view-port > .map-view-port-top > .map-view-port-horizontal-legend {
    width: inherit;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.map-view-port > .map-view-port-bottom > .map-view-port-legend {
    z-index: 10;
    position: fixed;
    display: inline-block;
}


.map-view-port > .map-view-port-bottom > .map-view-port-horizontal-legend {
    width: inherit;
    z-index: 2;
    position: fixed;
    display: inline-block;
    bottom: calc(0 - var(--legend-size));
}


.map-view-port > .map-view-port-main > .map-view-port-vertical-legend {
    width: inherit;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.map-view-port > .map-view-port-main > .map-view-port-canvas {
    width: inherit;
    height: inherit;
    z-index: 1;
    position: relative;
}
